$primaryBackground: #F4F5F9;
$primaryBlue: #42567A;
$blue50: #9BA5BA;
$blue: #3877EE;
$lightGrey: #E5E5E5;
$darkerGrey: #303E5880;
$blackBlue: #42567A;
$smokeGrey: #9BA5B9;
$white: #fff;
$iris: #5D5FEF;
$fuschia100: #EF5DA8;
