@use "@styles/colors" as colors;

.container {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: colors.$primaryBackground;;
  border-left: 1px solid colors.$lightGrey;
  border-right: 1px solid colors.$lightGrey;
  position: relative;

  @media (max-width: 1080px) {
    border: none;
    padding-left: 20px;
    width: 100%;
  }
}

.horizontal-slider-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 56px;
}
